{% extends 'base_e.html.twig' %}

{% block body %}

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Inicio</a></li>
        <li class="breadcrumb-item active">Ayuda</li>
    </ol>   
    <div class="media page-heading">
        <div class="media-body media-middle">
            <h1 class="m-0">Centro de ayuda</h1>
        </div>

    </div>

    <div class="card-columns">
        <div class="card">
            <div class="card-header bg-white">
                <h4 class="card-title">
                    <i class="material-icons text-muted-light">info_outline</i> <span class="icon-text">¿Puedo dar y recibir cursos?</span>
                </h4>
            </div>
            <div class="card-block"><p class="card-text">Sí, en Let´s Know puedes dar un curso, recibirlo o hacer ambas cosas al mismo tiempo. Aquí lo que se busca es el intercambio constante de conocimiento, que todos enseñen lo que sepan o aprendan lo que no, y que además tengas la posibilidad interactuar con personas nuevas y distintas.</p></div>
        </div>
        <div class="card">
            <div class="card-header bg-white">
                <h4 class="card-title">
                    <i class="material-icons text-muted-light">info_outline</i> <span class="icon-text">¿Hay que ser profesor para dar un curso?</span>
                </h4>
            </div>
            <div class="card-block"><p class="card-text">No, con tu experiencia basta. Lo que queremos demostrar con Let´s Know es que todos somos capaces de transmitir nuestro conocimientos a otros. Lo que sí recomendamos es que domines bastante el tema que vas a dar.</p></div>
        </div>
        <div class="card">
            <div class="card-header bg-white">
                <h4 class="card-title">
                    <i class="material-icons text-muted-light">info_outline</i> <span class="icon-text">¿En dónde se dan los cursos?</span>
                </h4>
            </div>
            <div class="card-block"><p class="card-text">Donde el instructor desee, puede ser en una plaza, parque, en un salón alquilado, restaurant, café, playa, centro comerciales, etc. Una vez inscrita la persona, el instructor indicará exactamente donde va a ser dado el curso.</p></div>
        </div>
        <div class="card">
            <div class="card-header bg-white">
                <h4 class="card-title">
                    <i class="material-icons text-muted-light">info_outline</i> <span class="icon-text">¿Qué cursos se van a dar?</span>
                </h4>
            </div>
            <div class="card-block"><p class="card-text">Los cursos pueden tan infinitos, como cabezas y experiencias hay en el mundo. Aquí podrías encontrar desde alguien que enseñe sobre cómo poner un botón, hasta otra que quiera hablar de física cuántica. </p></div>
        </div>
        <div class="card">
            <div class="card-header bg-white">
                <h4 class="card-title">
                    <i class="material-icons text-muted-light">info_outline</i> <span class="icon-text">¿Cómo sabemos que un instructor es bueno?</span>
                </h4>
            </div>
            <div class="card-block"><p class="card-text">Tanto instructores como alumnos serán evaluados después de cada curso . Dependiendo de la calificación y los comentarios tú podrás saber si la persona es buena o no. </p></div>
        </div>
        <div class="card">
            <div class="card-header bg-white">
                <h4 class="card-title">
                    <i class="material-icons text-muted-light">info_outline</i> <span class="icon-text">¿Quiénes acuden al curso?</span>
                </h4>
            </div>
            <div class="card-block"><p class="card-text">Aquellos que se postulan al curso y son elegidos por el instructor. Si por ejemplo, como alumno, no has sido bien evaluado por instructores anteriores, es menos probable que te acepte a su curso. 
                    Cuando hablamos de evaluaciones no nos referimos a exámenes, sino a datos básicos como asistencia, si fuiste o no respetuoso con el instructor y demás compañeros, etc. 
                </p></div>
        </div>
        <div class="card">
            <div class="card-header bg-white">
                <h4 class="card-title">
                    <i class="material-icons text-muted-light">info_outline</i> <span class="icon-text">¿Los cursos son pagos?</span>
                </h4>
            </div>
            <div class="card-block"><p class="card-text">Sí, algunos de ellos serán pagos y otros serán gratuitos, todo eso depende de lo que quiera hacer el instructor.             </p></div>
        </div>
        <div class="card">
            <div class="card-header bg-white">
                <h4 class="card-title">
                    <i class="material-icons text-muted-light">info_outline</i> <span class="icon-text">¿Qué pasa si el profesor no acude?</span>
                </h4>
            </div>
            <div class="card-block"><p class="card-text">Tu dinero será devuelto.</p></div>
        </div>
    </div>

{% endblock %}


