{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="card-header text-xs-center">
        <h4 class="card-title">Registro</h4>
        <p class="card-subtitle">Confirmado </p>

    </div>
    <div class="p-2 bg-white">

        <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
        {% if targetUrl %}
            <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
            {% endif %}
        
        <div class="form-group row">
            <div class="col-lg-4 offset-lg-4">
                <div class="">
                    <div >
                        ¿Ya estas registrado? <a href="{{ path('homepage') }}" class="btn  btn-primary btn-block" >Iniciar</a> 
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="card-footer text-xs-center bg-white">
        <p></p>
    </div>
{% endblock fos_user_content %}
